.button-component {
  outline: none;
  width: 470px;
  height: 70px;
  border-radius: 4px;
  padding: 20px 54px;
  gap: 10px;
  background-color: #1F27F5;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
  border: none;
  cursor: auto;
}
.button-component:hover {
  transform: scale(1.02);
}