.page-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: rgb(26, 35, 53);
}

.button-control {
  width: 300px;
}

.succes-modal-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.modal-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.modal-info {
  font-size: 40px;
  font-weight: bold;
  color: purple;
}

.modal-icon {
  width: 200px;
  height: 200px;
}