.page-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.modal-example-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 40px;
}

.button-control {
  width: 300px;
}