.feedback-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 400px;
  height: fit-content;
  border: 1px solid white;
  border-radius: 10px;
  padding: 40px;
  background-color: rgb(70, 87, 120);
  color: white;
}

.button-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
}

.like-count,
.dislike-count {
  font-size: 25px;
  font-weight: bold;
  color: rgb(45, 40, 40);
  background-color: rgb(70, 87, 120);
}
